
body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


.header {
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    color: #008000;
}

.header p {
    font-size: 16px;
    color: #333333;
}


.section {
    padding: 40px 60px;
}

.section h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    color: #008000;
    margin-bottom: 15px;
}

.section p {
    font-size: 16px;
    color: #333333;
}

.section ul {
    list-style-type: decimal;
}

.section li {
    font-size: 16px;
    margin-bottom: 18px;
}


.secondary {
    background-color: #F0FFF0;
}




hr {
    border: 5px solid #dce0dc ;
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: #096114;
}

.footer p {
    font-size: 14px;
    color: #f8f8f8;
}
