
body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


.header {
    
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    color: #008000;
}

.header p {
    font-size: 16px;
    color: #333333;
}


.section h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #008000;
    margin-top: 40px;
}


.story-box {
    border: 5px solid #CCCCCC;
    padding: 20px ;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 5px;
}

.story-box h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #FF8C00;
    text-align: center;
}

.story-box p {
    font-size: 16px;
    color: #333333;
    text-align: center;
}




.testimonial-section {
    
    padding: 40px 20px;
}

.testimonial-box {
    background-color: #FFFFFF;
    border: 5px solid #CCCCCC;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
    border-radius: 5px;
}

.testimonial-box p {
    font-size: 16px;
    color: #333333;
    margin-bottom: 10px;
}

.testimonial-box strong {
    color: #008000;
    font-size: 16px;
}


.footer {
    text-align: center;
    background-color: #096114;
    color: #FFFFFF;
    padding: 15px 0;
    font-size: 14px;
}
